<form action="/questions/<%= @question.id %>/edit" method="post">
  <input type="hidden" name="_method" value="put">
  <textarea name="content"><%= @question.content %></textarea>
  <input type="submit" value="edit">
</form>
