<h2><%= @question.content %></h2>
<a href="/questions/<%= @question.id %>/comments/new">comment</a>

<% if @answers %>
  <% @answers.each do |answer| %>
    <blockquote id="answer">
      <%= answer.content %>
      <br>
      <a href="/answers/<%= answer.id %>/comments/new">comment</a>
    </blockquote>
  <% end %>
<% end %>

<h3>Answer:</h3>
<form action="/answers" method="post">
  <textarea name="answer"></textarea>
  <br>
  <input type="submit" value="Submit">
</form>
