/* *       - https://developer.mozilla.org/en-US/docs/Web/CSS/Universal_selectors
/* :after  - https://developer.mozilla.org/en-US/docs/Web/CSS/%3A%3Aafter*/
/* :before - https://developer.mozilla.org/en-US/docs/Web/CSS/%3A%3Abefore */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

blockquote#answer {
  border: 1px solid;
  border-color: gray;
  margin: auto;
  margin-bottom: 10px;
  width: 50%;
}

div.logo-container {
  display: block;
  border: 1px solid white;
  margin: auto;
  background-image: url('/images/Combover.jpg');
}

h2.overflow-logo {
  color: #558C89;
  margin-right: 70%;
  margin-left: 30%;
  font-size: 3.5em;
}

div.home {
  background-color: #D9853B;
  padding: 7px;
}

div.home a {
  text-decoration: none;
}

li.questions {
  border: 3px solid #558C89;
  text-align: center;
  width: 50%;
  margin-right: 25%;
  margin-left: 25%;
  background-color: #e0f2f1;
  padding: 20px;
  line-height: 1.3;
  border-radius: 4px;
  list-style-type: none;
  box-shadow: 4px 4px 12px #888888;
}

body {
  background-color: #ECECEA;
}

span.created {
  color: #8FBC8F;
  font-size: 0.7em;
  font-style: italic;
}

span.created-question {
  color: #8FBC8F;
  font-size: 0.7em;
  font-style: italic;
  text-align: center;
}

div.display-question {
  text-align: center;
}

h2.question-title {
  color: #558C89;
  text-align: center;
}

div.form {
  border: 1px solid red;
  display: inline-block;
  text-align: center;
  margin-left: 45%;
  padding: 60px;
  margin-top: 20px;
  background-color: #e0f2f1;
  border-radius: 4px;
  border: 3px solid #558C89;
  box-shadow: 4px 4px 12px #888888;
}

form input[type=submit] {
  color: #558C89;
  font-weight: bold;
  background-color: #D9853B;
  border-radius: 4px;
}

label {
  color: #558C89;
}
