<div class="container">
  <h2>Questions</h2>

  <ul>
    <% .all.each do |question| %>
      <li>Question
        <form>
          <button action="/vote" method="post" type="submit" name="up">Upvote</button>

          <button action="/vote" method="post" type="submit" name="down">Downvote</button>
        </form>
        <a href="/channels/<%= "#{question.id}" %>"><%= question.content %></a></li>
    <% end %>
  </ul>

  <p><a href="/">Home</a></p>
</div>
